.wrapper {
    grid-area: n;
    margin-top: 10px;
}
.Areal {
    border: 1px solid #888;
    width: 400px;
    height: 80px;
    outline: none;
    border-radius: 2px;
    resize: none;
}
.btn {
    width: 80px;
    height: 30px;
    background-color: #888;
    border: white;
    border-radius: 2px;
}