body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#D5ECEC;
}

.App-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "n c";
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 2px;
}
.profileInfo-Img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px;
  border-radius: 50%;
  background-color: rgb(179, 255, 249);
}
.profileInfo {
      display: flex;
}
.preloader {
  text-align: center;
  height: 100%;
  margin-top: 9%;
}